/* MeasurementExpansion */
.Extended-panel{
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.Extended-header{
  display: flex;
  justify-content: space-between;
  height: 15%;
  align-items: center;
  margin-bottom: 20px;
}
.Extended-title {
  display: flex;
  font-size: 2.5em;
  height: fit-content;
  height: 100%;
  flex: 1;
  align-items: center;
}
.SVG-indicator{
  display: flex;
  margin-left: 20px;
  height: 35px;
  width: 35px;
}
.SVG-close{
  height: 100%;
  width: 80px;
  padding: 10px;
}
.Extended-main{
  display: flex;
  flex: 1;
  margin: 15px;
}
.Extended-info{
  padding-right: 30px;
}
.Extended-info-box{
  background-color: #F2F2F2;
  border-radius: 8px;
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.Extended-graph{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 35px;
  width: calc(100% - 280px);
  background-color: #F2F2F2;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.Extended-graph h3{
  font-size: 25px;
  color: #959595;
  font-weight: 400;
}
.Extended-graph-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Graph-panel button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.Left{
  border-radius: 8px 0 0 8px;
  border-right: 1px solid gray;
}
.Center{
 background-color: brown;
}
.Right{
  border-radius: 0 8px 8px 0;
}
.Graph-panel{
  border-radius: 8px;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 40px;
}
.Graph-panel-choice{
  background-color: #F0F0F0;
  flex: 1;
}
.selected{
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  background: #F6C273;
}