.Measurement-stat{
    margin-bottom: 20px;
    padding: 10px;
    margin: 15px;
    flex: 1;
}
.Measurement-stat-header{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #B5B5B5;
}