/* Measurement */
.Measurment{
  width: 250px;
  height: 250px;
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.Measurment:hover{
  background-color: #eeeeea;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.Measurements-info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;

}
.Measurment-number-wrapper{
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Measurment-number{
  opacity: 0;
  font-size: 2.5em;
  transition: 0.3s;
}
.MeasurementIndicator{
  position: absolute;
  transition: 0.3s;
  opacity: 100;
}
.Measurment:hover .MeasurementIndicator{
  opacity: 0;
  transform: scale(0.2);
}
.Measurment:hover .Measurment-number{
  opacity: 100;
}
.Measurment-text{
  display: inline-block;
  vertical-align:middle;
  flex: 1;
  text-align: center;
}